@media only screen and (min-device-width: 375px) and (max-device-width: 896px) and (orientation: portrait) {
  #masthead {
    float: none;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    overflow: hidden;
    position: absolute;
    width: 96%;
  }

  .main-section {
    margin-top: 45px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 896px) and (orientation: landscape) {
  #masthead {
    float: none;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    overflow: hidden;
    position: absolute;
    width: 98%;
  }

  .main-section {
    margin-top: -10px;
  }

  .work {
    width: 46%;
  }
}
